@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: #323436;
}

header {

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

main {
    .container {
        width: 90%;
        margin: 2rem auto;

        .movies {
            .flag_icon {
                height: 25px;
            }
        }
    }
}