@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: #161515;
    color: white;
}

header {
    .header_navbar {

        .navbar_left {
            .logo h2 {
                color: rgb(255, 0, 0);
            }

            .menu a {
                margin: 0 1rem;
                text-decoration: none;
                color: white;

                &:hover {
                    opacity: 0.6;
                }
            }

        }


        .navbar_right {
            .search {
                .search_btn {
                    color: white;
                    font-size: large;
                }

                input {
                    background: none;
                    color: white;
                }

            }

            .notifying {
                font-size: larger;
                cursor: pointer;
            }

            .kids a {
                margin: 0 1rem;
                text-decoration: none;
                color: white;

                &:hover {
                    opacity: 0.6;
                }
            }

            .icon_user {
                width: 63px;
            }

        }
    }
}

main {
    .container {
        width: 90%;
        margin: 2rem auto;

        .movies {
            .flag_icon {
                height: 25px;
            }

            .movie_card {
                position: relative;

                &:hover {
                    .card_info {
                        display: block;
                    }

                    .cover {
                        display: none;
                    }
                }

                .card_info {
                    position: absolute;
                    display: none;

                    .overview {
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                    }
                }

            }



        }
    }
}